@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

html, body, #root{
  min-height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
}

#root{
  display: flex;
  flex-direction: column;
}

.app{
  width: 80%;
  margin: auto;
  flex: 1;
}

a{
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}